.btn {
padding: 6px 15px;
border: none;
background-color: grey;
color: white;
font-weight: bold;
}

.btn--medium {
  padding: 10px 20 px;
  background-color: greenyellow;
}

.btn--max {
  padding: 20px 30px;
  font-size: 150%;
  background-color: lightblue;
}